<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RigobertoVega/blob/main/Modulo1_PythonBasiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("l")

l

In [ ]:
print("Hello Python 101") #Uses to print

Hello Python 101

In [ ]:
frint("Hello Python 101") #Error due frint is not defined

NameError: ignored

In [ ]:
type(11) #integer
type(21.213) # float and real numbers
type("Hello Python 101") #string
float(2) #converts it to 2.0
int(1.1) #just takes the integer 1
int('1') #copy the string number 1
int('a') #Error due a is not a number

ValueError: ignored

In [ ]:
#boolean can just have True "1" or false "0"

In [ ]:
#Expressisons are operations that python perfomrs, for example 43 + 56 + 21 + 26, this are referenced to the plus simbol which are called operandors

In [ ]:
#this expressions follow the mathematical rules like the paranthesis are first, then multiply and divions, etc.

In [ ]:
#Variables
my_variable = 1 #this is used to asign a value to the variable

In [ ]:
print(my_variable)

1

In [ ]:
my_variable = my_variable * 60
print(my_variable)
#t's good practice to use meaningful variable names, so you don't have to keep track of

3600

In [ ]:
#also can use the the operation an variables together

In [ ]:
total_min = 43+65+56
total_seconds = total_min/60
print(total_min, "," ,total_seconds)

164 , 2.7333333333333334

String Operations
String is a sequence of characters
It is helpful to think of a string as and ordered squence. Each element in the sequence can be accessed using an index represneted by the array of numbers.

In [ ]:
Name = "Michael Jackson"
print(Name[0], Name[6], Name[13]) #Name[0] = M Name[6] = l Name[13] = 0

M l o

In [ ]:
#you can use also negative index
Name = "Michael Jackson"
print(Name[-1], Name[-4], Name[-15]) #Name[-1] = n Name[-4] = k Name[-15] = M

n k M

In [ ]:
#you can use also slice the string, this would return the character starting on the before the first ":" and one character before the second ":"
Name = "Michael Jackson"
print(Name[0:4], Name[8:12]) #Name[0:4] = Mich Name[8:12] = Jack

Mich Jack

# Nueva secci√≥n

In [ ]:
#you can use also stride the string
Name = "Michael Jackson"
print(Name[::2], Name[0:5:2]) #Name[::2] = McalJcsn, Name[0:5:2] = Mca

McalJcsn Mca

In [ ]:
#len comand to obtain the total characters
len(Name)

15

In [ ]:
#You can use operatores to combine
statment = Name + " is the best"
print(statment)

Michael Jackson is the best

In [ ]:
print(3 * Name) #replicate values of the string

Michael JacksonMichael JacksonMichael Jackson

In [ ]:
#tou cannnot change the value fo the string, but you can add new characters, this mean they are unmutable

In [ ]:
#escape sequences
print(Name + "\t is the best") #the use of backslashed allow to use different sequence for make a more orden in your stirng

Michael Jackson	 is the best

In [ ]:
#method, this converts and string A into a total different string B
A = "b"
B = A.upper()
print(B)

B

In [ ]:
#method find
Name.find('el') #this would return the position where this string or character were found, in this case 5
Name.find('Jack') # 8 in this case
Name.find('rigo') # in this case -1 due this string is not on the original one

-1

In [2]:
#Exercise 1
print("Hello, word!") #Print the traditional hello word

Hello, word!

In [4]:
#Exercise 2
type(6/2) #float
type(6//2) #float

int

In [5]:
#Excersie 3
hoursInMinutes = 160/60
print(hoursInMinutes, "hours in 160 minutes")

2.6666666666666665 hours in 160 minutes

In [7]:
#Excercise 4
x = 3 + 2 * 2 
print(x) # 7
y = (3 + 2) * 2
print(y) #10
z = x + y
print(z) #17

7
10